# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log

# Virtualenv
.venv/
venv/

# Django collectstatic
staticfiles/

# Uploads
media/
uploads/
vistorias/
sem_registro/

# IDE
.vscode/
.idea/
